@import "tailwindcss";

@theme {

  --color-background: #0a0b14;
  --color-surface: #121421;
  --color-primary: #4f46e5;
  --color-secondary: #9ca3af;

  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-background);
  color: white;
  font-family: var(--font-sans);
  margin: 0;
  min-height: 100vh;
}